.head{
    width: 100%;
}
#head_text{
     font-size: 60px;
     text-align: right;
     position: relative;
     bottom: 600px;
     right: 100px;
     color: white;
}
#head_des{
    text-align: right;
     position: relative;
     font-weight: 100;
     bottom: 630px;
     right: 100px;
     color: white;
}
#head_btn{
     padding: 15px;
     border: 0 solid white;
     border-radius: 6px ;
     color: rgb(255, 255, 255);
}
#btn_text:hover{
    color: rgb(153, 42, 42);
}

#btn_text{
    color: rgb(35, 145, 240);
    font-size: 20px;
    font-weight: 700;
}

/* main work */

#main_img{
    position: relative;
    bottom: 600px;
    margin-left: 150px;
    width: 500px;
}
#main_text{
    text-align: center;
    margin-left: 310px;
    font-size: 50px;
    font-weight:bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#main_des{
    margin-left: 680px;
}
#main_points{
    margin-left: 680px;
}
#main_points>li{
    padding: 10px;
    font-size:medium;
}
.main>p{
    font-weight: 500;

}
